body {
    marigin:0;
    font-family: 'Segoe UI',sans-serif;
    background-color: #131410;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: ;
}